.body-verify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: black;
}

.container-verify-code {
    display: flex;
    width: 70%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.input-verify-code {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.verify-code-button {
    width: 50%;
    padding: 10px 20px;
    background-color: #F8B133;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
    margin-top: 2% ;
}

.verify-code-button:hover {
    background-color: #ddaf60;
}

.text-verify-code {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}